@charset "utf-8";

body{
  background: #aaa url('./images/desert.jpeg') no-repeat;
  background-size: 100vw 100vh;
}

li{
  list-style: none;
}

.wrapper{
  margin : 0 auto;
  width: 720px;
}

.main-container{
  margin : 0;
  margin-top: 200px;
  border: 0;
  padding: 0;
}

.main-legend-container{
  margin: 0 auto;
  padding: 0 100px;
  vertical-align: middle;
  /* background-color: skyblue; */
}

.main-heading{
  margin-bottom: 10px;
  color: rgb(12, 64, 88);
  opacity: 0.9;
  text-align: center;
  font-weight: 400;
}

.input-todo{
  width: 400px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  padding-left: 10px
}

.btn-addtodo{
  height: 30px;
  border: 0;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #fff;
}

.todos{
  /* background-color: lime; */
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  width: 450px;
  color: #fff;
}

.remove {
  background: none;
  border: 0;
  color: #fff;
  font-size: inherit;
}